/* header{
    justify-content: space-between;
} */



:root {
    --verde-primary: #4f930c;
    /* verde caccola */
}


.box_profile_cart{
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping{
    cursor: pointer;
    transform: scale(1.5);
    color: var(--verde-primary);
    transition: all 0.2s ease-in-out;
}
.fa-cart-shopping:hover {
    color: green;
  }



body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(228, 222, 206);
    min-height: 100%;
    height: auto;
}

header{
    align-items: center;
    background-color: #131921;
    width: 100%;
    text-align: center;
    
}


#logo{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 200px;
}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--verde-primary);
    bottom: 0;
    width: 100%;
    background-color: #131a22;
    padding: 30px 0px 20px 0px;
    text-align: center;
    
}

.footer_catalogo{
        position: absolute;
}

footer a {
    color: var(--verde-primary);
}



footer ul{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
}


footer p{
    font-size: smaller;
    color: rgba(128, 128, 128, 0.356);
}

footer img{
    width: 200px;
    margin-bottom: 0.8rem;
}



.swiper_prodotti{
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: white;
}

.swiper_prodotti h3{
    margin: 1.5rem 0 0.5rem 5vh;
}

.swiper_prodotti img{
    width: 100px;
    height: 100px;
}


.card-body{
    background-color: rgb(255, 255, 255);
    margin: 1rem 0 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-aggiungi-carrello{
    border: 2px solid var(--verde-primary);
    padding: 0.6rem;
    border-radius: 2rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--verde-primary);
    padding-right: 3.3rem;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease-in-out;
}

.btn-aggiungi-carrello:hover {
    color: white;
    border-color: var(--verde-primary);
    background-color: var(--verde-primary);
}

.btn-aggiungi-carrello:active, .btn-aggiungi-carrello:active .fa-cart-plus {
    background-color:#487a15;
    border-color: transparent;
}

.fa-cart-plus{
    border-radius: 50%;
    display: inline-block;
    background-color: var(--verde-primary);
    color: white;
    padding: 15px;
    position: absolute;
    transform: translateY(-11px) translateX(8px);
    transition: all 0.3s ease-in-out;
}


 .card-body .btn-aggiungi-carrello{
    margin-top  : 2rem;
 }

 


.elProdottoCarrello {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elProdottoCarrello p {
    margin: 0;
}

.carrelloNomeEImgProdotto {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.elProdottoCarrello img {
    width: auto;
    height: 100px;
}

.carrelloQuantita {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.carrelloQuantita input {
    width: 30px;
    text-align: center;
    border-radius: 0.3rem;
}

.decreaseOneQuantity {
    color: gray;
}



/* Disable input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}



.navbar_categorie{
    display: flex;
    justify-content: center;
    background-color: #131921;
    align-items: center;
   
}

.navbar_categorie a{
   text-decoration: none;
   color: #4f930c;
   
}


.navbar_categorie p{
    margin-top: 1rem;
}


.navbar_categorie{
    margin-top: 1rem;
    border: 4px solid #4f930c;
    display: flex;
    justify-content: space-between; 
    align-items: first baseline;
    width: 100%;
    gap: 2rem;
    
}




/*                 

            CSS CHECKOUT 

 */


#divCheckout {
    color: rgb(223, 222, 222);
    margin-top: 100px;
}
#divCarrelloCheckout {
    display: flex;
    flex-direction: column;
}
#divCarrelloCheckout h1 {
    font-weight: 700;
    margin-bottom: 1.6rem;
}


.divCheckoutProductCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8rem;
}


.divCheckoutProductCard p {
    margin: 0;
}

.divCheckoutProductCard img{
    width: 125px;
    height: 125px;
    border-radius: 0.5rem;
    margin: 0.5rem 1.2rem 1.5rem 0;
}

.articoliCheckout {
    margin-bottom: 0.2rem;
}

.divCheckoutSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#divRiepilogoOrdine h2 {
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
    font-weight: 600;
    font-size: 1.8rem;
}
#divRiepilogoOrdine h4 {
    display: inline-block;
    font-weight: 500;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}
#numeroArticoliCheckout {
    display: inline;
    font-size: medium;
    font-weight: 600;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.2rem 0.6rem;
    background-color: var(--verde-primary);
}
#prezzoCheckout {
    display: inline;
    font-size: x-large;
    font-weight: 500;
}

.divSpedizione {
    display: flex;
    flex-direction: column;
}

.divSpedizione select {
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.divCodiceSconto {
    display: flex;
    flex-direction: column;
}
.divCodiceSconto input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    border: none;
    height: 50px;
    text-transform: uppercase;
}
.divCodiceSconto p {
    margin-top: 0.5rem;
}

#checkoutSummaryEnd {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
}


.divAcquisto * {
    margin-bottom: 0;
}
.divAcquisto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}
.divAcquisto h6 {
    display: inline-block;
    font-size: 0.8rem;
    align-self: center;
    transform: translateY(4px)
}
.divAcquisto p {
    font-size: x-large;
    font-weight: 500;
}

.divBtnConfirmOrder {
    display: flex;
    justify-content: end;
}

#btnConfirmOrder {
    color: #fff;
    background-color: rgb(40, 129, 40);
    border: none;
}
#btnConfirmOrder:hover {
    background-color: rgb(35, 110, 35);
}
#btnConfirmOrder:active {
    background-color: rgb(30, 95, 30);
}


@media screen and (max-width: 991px) {
    .divCheckoutProductCard {
        margin-right: 1rem;
    }
    .divCheckoutProductCard img{
        margin: 0.5rem 0.4rem 1.5rem 0;
    }
    
    #divRiepilogoOrdine h2 {
        margin-top: 4rem;
    }


}

@media screen and (max-width: 492px) {
    .divCheckoutProductCard {
        margin-right: 0rem;
    }
    .divCheckoutProductCard img{
        margin: 0.5rem 0.2rem 1.5rem 0;
    }
}






/*

                PAGINA OGGETTO

*/


#oggetto {
    
    text-align: left;
    color: var(--verde-primary);
    width: 100%;
    background-color: #131a22;
    padding: 20px 0px 20px 0px;
    margin-top: 1rem;

}

.col-4{
background-color: rgb(255, 255, 255);

margin: 1rem;
text-align: center;

}

.col-6 {
background-color: rgb(255, 255, 255);

margin: 1rem;
text-align: center;
}

.quantita {
border-radius: 10rem;
}




.prod-wrapper {
display: flex;
column-gap: 1rem;
}


#des_oggetto {
text-align: right;
}


