/* header{
    justify-content: space-between;
} */


:root {
    --verde-primary: #4f930c;
    /* verde caccola */
}


.box_profile_cart{
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping{
    cursor: pointer;
    transform: scale(1.5);
    color: var(--verde-primary);
   

}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(228, 222, 206);
}

header{
    align-items: center;
    background-color: #131921;
    width: 100%;

}


#logo{
    margin-left: 2.5rem;
    margin-right: 1rem;
    width: 200px;
}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--verde-primary);
    bottom: 0;
    width: 100%;
    background-color: #131a22;
    padding: 30px 0px 20px 0px;
}



footer ul{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}


footer p{
    font-size: small;
}


.swiper_prodotti{
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: white;
}


.swiper_prodotti img{
    width: 100px;
    height: 100px;
}

 

.card-body{
    background-color: rgb(255, 255, 255);
    width: 350px;
    padding: 3rem;
    height: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.btn-aggiungi-carrello{
    border: 2px solid var(--verde-primary);
    padding: 0.6rem;
    border-radius: 2rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--verde-primary);
    padding-right: 3.3rem;
    font-family: "Roboto", sans-serif;
    
}

  .fa-cart-plus{
    border-radius: 50%;
    display: inline-block;
    background-color: var(--verde-primary);
    color: white;
    padding: 0.9rem;
    position: absolute;
    transform: translateY(-11px) translateX(10px);
  }

 .card-body .btn-aggiungi-carrello{
    margin-top  : 2rem;
 }

 


.elProdottoCarrello {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elProdottoCarrello p {
    margin: 0;
}

.carrelloNomeEImgProdotto {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.elProdottoCarrello img {
    width: auto;
    height: 100px;
}

.carrelloQuantita {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.carrelloQuantita input {
    width: 30px;
    text-align: center;
    border-radius: 0.3rem;
}

.decreaseOneQuantity {
    color: gray;
}



/* Disable input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
