/* header{
    justify-content: space-between;
} */


:root {
    --verde-primary: #4f930c;
    /* verde caccola */
}


.box_profile_cart{
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping{
    cursor: pointer;
    transform: scale(1.5);
    color: var(--verde-primary);
    transition: all 0.2s ease-in-out;
}
.fa-cart-shopping:hover {
    color: green;
  }



body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(228, 222, 206);
    min-height: 100%;
    height: auto;
}

header{
    align-items: center;
    background-color: #131921;
    width: 100%;

}


#logo{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 200px;
}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--verde-primary);
    bottom: 0;
    width: 100%;
    background-color: #131a22;
    padding: 30px 0px 20px 0px;
    text-align: center;
}

footer * {
    color: rgb(226, 226, 226);
}

footer a {
    text-decoration: none;
}

footer ul{
    margin-bottom: 4px;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    font-size: 12px;
}


footer p{
    font-size: 12px;
}

footer img{
    width: 200px;
    margin-bottom: 0.8rem;
}



.swiper_prodotti{
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: white;
}

.swiper_prodotti h3{
    margin: 1.5rem 0 0.5rem 5vh;
}

.swiper_prodotti img{
    width: 100px;
    height: 100px;
}


.card-body{
    background-color: rgb(255, 255, 255);
    margin: 1rem 0 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-aggiungi-carrello{
    border: 2px solid var(--verde-primary);
    padding: 0.6rem;
    border-radius: 2rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--verde-primary);
    padding-right: 3.3rem;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease-in-out;
}

.btn-aggiungi-carrello:hover {
    color: white;
    border-color: var(--verde-primary);
    background-color: var(--verde-primary);
}

.btn-aggiungi-carrello:active, .btn-aggiungi-carrello:active .fa-cart-plus {
    background-color:#487a15;
    border-color: transparent;
}

.fa-cart-plus{
    border-radius: 50%;
    display: inline-block;
    background-color: var(--verde-primary);
    color: white;
    padding: 15px;
    position: absolute;
    transform: translateY(-11px) translateX(8px);
    transition: all 0.3s ease-in-out;
}


 .card-body .btn-aggiungi-carrello{
    margin-top  : 2rem;
 }

 


.elProdottoCarrello {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elProdottoCarrello p {
    margin: 0;
}

.carrelloNomeEImgProdotto {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.elProdottoCarrello img {
    width: auto;
    height: 100px;
}

.carrelloQuantita {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.carrelloQuantita input {
    width: 30px;
    text-align: center;
    border-radius: 0.3rem;
}

.decreaseOneQuantity {
    color: gray;
}



/* Disable input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
