/* header{
    justify-content: space-between;
} */


.box_profile_cart{
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping{
    cursor: pointer;
    transform: scale(1.5);
    color: rgb(160, 207, 18);
   

}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(228, 222, 206);
}

header{
    align-items: center;
    background-color: #131921;
    width: 100%;

}



header h1{
    margin-left: 2rem;
    color: rgb(172, 223, 18);
}



footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(172, 223, 18);
    bottom: 0;
    width: 100%;
    background-color: #131a22;
    padding: 30px 0px 20px 0px;
}





footer ul{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

footer p{
    font-size: small;
}


  .swiper_prodotti img{
    width: 100px;
    height: 100px;
  }

 
  .swiper_prodotti{
    margin-bottom: 5rem;
    margin-top: 5rem;
    /* margin-bottom: 50rem; */
    border: 10px solid red;
    
    
  }


  .card-body{
    background-color: rgb(255, 255, 255);
    width: 350px;
    padding: 3rem;
    height: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    

  }

  .btn-aggiungi-carrello{
    border: 2px solid rgb(172, 223, 18);
    padding: 0.6rem;
    border-radius: 2rem;
    text-decoration: none;
    background-color: transparent;
    color: rgb(172, 223, 18);
    padding-right: 3.3rem;
    font-family: "Roboto", sans-serif;
    
    
  }

  .fa-cart-plus{
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(172, 223, 18);
    color: white;
    padding: 0.9rem;
    position: absolute;
    transform: translateY(-11px) translateX(10px);
  }

 .card-body .btn-aggiungi-carrello{
    margin-top  : 2rem;
 }

 


