/* header{
    justify-content: space-between;
} */


.box_profile_cart{
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping{
    cursor: pointer;
    transform: scale(1.5);
    color: rgb(172, 223, 18);
   

}

body{
    font-family: "Roboto", sans-serif;
}

header{
    align-items: center;
    background-color: #131921;
    width: 100%;

}

header h1{
    margin-left: 2rem;
    color: rgb(172, 223, 18);
}



footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    bottom: 0;
    width: 100%;
    background-color: #131a22;
    color: rgb(255, 255, 255);
    padding: 30px 0px 20px 0px;
}





footer ul{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

footer p{
    font-size: small;
}

.swiper {
    width: 100%;
    height: auto;
  }


  .swiper_prodotti img{
    width: 100px;
    height: 100px;
  }

 
  .swiper_prodotti{
    margin-bottom: 5rem;
    margin-top: 5rem;
    /* margin-bottom: 50rem; */
    border: 1px solid red;  
  }